  /* 公用样式 */
*{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: "微软雅黑";
}
.main{
    width: 1280px;
    margin: 0 auto;

}
ul li{
    list-style: none;
}
a{
    text-decoration:none;
}
a:link{
    text-decoration:none;
}
a:visited{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
a:active{
    text-decoration:none;
}
.clearfix:before, .container:after {
    content: "";
    display: table;
}
.clearfix{
    clear: both;
    #
}
.clearfix:after {
    clear: both;
}
    /* IE 6/7 */
.clearfix {
    zoom: 1;
    }
 /* 公用样式 */




 /* 导航 */
.header{
    height: 56px;
    background: #fff;
}
.header .logo{
    float: left;
    margin-top: 13px;
    margin-left: 60px;
}
.header .logo img{
    width: 31px;
    height:31px;
}
.header .logo span{
    vertical-align: top;

    color: #393a3a;
    font-size:21px;
}
.header nav{
    float: right;
    margin-top: 16px;
    margin-right: 60px;
}
.header nav ul li{
    float: left;
    color: #787b83;
    margin-right: 45px;
}
.header nav ul li a{
    color: #787b83;
    vertical-align: top;
}
.header nav ul li a:hover{
    color: #e74f4d;
    padding-bottom:11px;
    border-bottom: 3px solid #e74f4d;
}
.header nav ul li a img{
    margin-right: 5px;
}
 /* 导航 */


 /* banner */
.banner{
    height:690px;
    background:url(img/banner50.png);

}
.banner .text{
    position:absolute;
    z-index: 1;
    margin-left: 117px;
    top:25%;
}
.banner .text span{
    color: #fff;
    font-size:60px;
    font-weight: bold;
}
.banner .text p{
    color: #fff;
    font-size:21px;
}
.banner .text a{
    color: #fff;
    font-size:30px;
    margin-top:60px;
    background: #e74f4d;
    width:330px;
    height:65px;
    display: block;
    text-align:center;
    line-height: 65px;
}
/* banner */



/* 第一层 */
.one .q,.w,.e,.r{
    width:25%;
    float: left;
    height:250px;
}
.one .q,.w,.e,.r {
    text-align:center;
}
.one img{
    margin-top: 45px;
}
.one p{
    padding-top: 46px;
    width:154px;
    margin: 0 auto;
}
.one .hr{
    height:50px;
    width:2px;
    background:#aaaaab;
    float: left;
    position:absolute;
    z-index:1;
    margin-top:-40px
}
/* 第一层 */




/* 第二层 */
.two{
    text-align:center;
    font-size:54px;
    background:#ededec;
    height:360px;
}
.two img{
    margin-top: 90px;
}
.two p{
    font-size:54px;
    color:#a1a1a1;
    margin-top: 48px;
}
/* 第二层 */





/* 第三层 */
.three{
    height:340px;
    background:url(img/three50.png);
    text-align:center;
    margin-top: 0;

}
.three .main{
    background:url(img/three.png);
    height:288px;
    padding-top: 52px;
}
.three .text{
    margin: 0 auto;
    margin-bottom: 52px;

}
.three span{
    font-size:21px;
    color: #fff;
}
.three i{
    display: block;
    margin: 0 auto;
    width:30px;
    height:3px;
    background: #fff;
    margin-top: 10px;
}
.three p{
    font-size:12px;
    color: #fff;
    margin-top:20px;
}
.three .seach{
    margin: 0 auto;
    width:1028px;
    height:36px;
    margin-top: 52px;
}
.three .seach select{
    width: 236px;
    height: 36px;
    margin-right:30px;
}
.three .seach button{
    width: 236px;
    height: 36px;
    margin-right:30px;
}
.three .seach select{
    padding: auto 10px;
    text-indent: 20px;
    border: 1px solid #fff;
}
.three .seach select:hover{
    border: 1px solid #bf4f48;
}
.three .seach select option span{
    padding-left: 100px;
    height:27px;
    text-indent: 20px;
}
.three .seach button{
    background:#bf4f48;
    border: 1px solid #bf4f48;
    color: #fff;
}
/* 第三层 */




/* 第四层 */
.four{
    background:#f7f7f7;
    height:605px;
}
.four .main{
    margin: 0 auto;
    background:#f7f7f7;
    width: 986px;
}
.four figure{
    margin-top: 100px;
    width: 217px;
    float:left;
    text-align:center;

}
.four figure img{
    border:1px solid #e0e0e0;
}
.four figure:hover figcaption{
    margin-top: -402px;
    width: 250px;
    letter-spacing:38px;
}
.four figure:hover img{
    margin-top: 60px;
}
.four .bj1,.bj2,.bj3{
    margin-right: 36px;
}
.four figure figcaption{
    margin-top: 5px;
    font-size:16px;
    color:#333333;
}
.four figure p{
    margin-top: 10px;
    font-size:14px;
    color:#818281;
}
/* 第四层 */


/* 第五层 */
.five{
    // margin-top: 0;
    // background:#f7f7f7;
}
.five .main{
    margin: 0 auto;
    background:#f7f7f7;
    width: 1280px;
}
.five .left{
    float:left;
    background: url(img/bj7.png);
    width:852px;
    height:566px;
    padding-top:1px;
}
.five .left p,b{
    color:#fff;
    text-align:center;
    display: block;
    margin:0 auto;
}
.five .left .xinshijie{
    font-size:50px;
    margin-top: 150px;
}
.five .left b{
    margin-top: -40px;
    font-size:158px;
}
.five .left .xinshijie1{
    margin-top: -10px;
    font-size:22px;
}
.five .right{
    float:right;
    width:290px;
    padding:0px 69px;
    background:#fff;
    height: 567px;
    text-align:center;

}
.five .right>p{
    width:290px;
    text-align:center;
}

.five .right .title{
    margin-top: 190px;
    font-size:18px;
}
.five .right .title span{
    font-size:18px;
    color:#e7504d;
}
.five .right .right-text{
    line-height:36px;
    font-size:12px;
    text-align:left;
    margin-top:30px;
    color:#aaaaaa;
}
.five .right .more{
    height: 33px;
    width:105px;
    margin-top: 50px;
    background:#fff;
    color:#e7504d;
    border:1px solid #e7504d;
}
.five .right ul{
    margin:25px 0 0 108px;
}
.five .right ul li{
    float: left;
    margin-right: 15px;
    border-radius: 12px;
    width:12px;
    height:12px;
    border:1px solid #929293;
}
.five .right ul li:hover{
    background:#929293;
}
/* 第五层 */




/* 第六层 */
.six{
    // background:#f7f7f7;
}
.six .main{
    margin: 0 auto;
    background:#f7f7f7;
    width: 1280px;
}
.six .left,.center,.right{
    float: left;
    height:349px;
}
.six .left{
    background:#e74f4d;
}
.six .left{
    background:#e74f4d;
    width:425px;
    text-align:center;
}
.six .left{
    padding-top:172px;
}
.six .left span{
    font-size:21px;
    color: #fff;
}
.six .left i{
    display: block;
    margin: 0 auto;
    width:30px;
    height:3px;
    background: #fff;
    margin-top: 25px;
    margin-bottom:25px;
}
.six .left .more{
    height: 44px;
    width:170px;
    background:#e7504d;
    color:#fff;
    border:1px solid #fff;
}
.six .left .more:hover{
    height: 44px;
    width:170px;
    background:#fff;
    color:#e7504d;
    border:1px solid #fff;
}
.six .center{
    text-align:center;
    padding-top:172px;
    background:#fff;
    width:424px;
}
.six .center span{
    font-size:21px;
    color: #333;
}
.six .center i{
    display: block;
    margin: 0 auto;
    width:30px;
    height:3px;
    background: #aaa;
    margin-top: 25px;
    margin-bottom:25px;
}
.six .center .more{
    height: 44px;
    width:170px;
    background:#fff;
    color:#e7504d;
    border:1px solid #e7504d;
}
.six .center .more:hover{
    height: 44px;
    width:170px;
    background:#e7504d;
    color:#fff;
    border:1px solid #fff;
}
.six .right{
    background:url(img/bj8.png);
    height:521px;
    width:431px;
}
/* 第六层 */





/* 第七层 */
.seven .main{
    padding-top:120px;
}
.seven .text{
    margin: 0 auto;
    margin-bottom: 52px;
    text-align:center;
}
.seven .text span{
    font-size:21px;
    color: #333;
}
.seven .text i{
    display: block;
    margin: 0 auto;
    width:30px;
    height:3px;
    background: #e7504d;
    margin-top: 10px;
}
.seven .text p{
    font-size:12px;
    color: #aaaaaa;
    margin-top:20px;
}
.seven .left{
    float: left;
    width:288px;
    margin-left: 140px;
}
.seven .left .xieyi{
    margin-bottom: 50px;
}
.seven .left .xieyi .title{
    color:#666160;
    font-size:14px;
    font-weight:bold;
}
.seven .left .xieyi .text{
    color:#9d9b9a;
    font-size:12px;
    margin-top: 27px;
    margin-bottom: 0px;
    text-align:left;
}
.seven .left .xieyi .more{
    color:#959291;
    float: right;

}
.seven .right{
    margin-right: 140px;
    float: right;
}
.seven .right ul{
    width:640px;
}
.seven .right li{
    float: left;
    background:#ededef;
    height:19px;
    width:280px;
    vertical-align: middle;
    padding:15px;
    margin-bottom: 15px;
}
.seven .right li.lir{
    margin-right: 18px;
}
.seven .right li>span{
    color: #6c6868;
}
.seven .right li input{
    border:0px;
    background:#ededef;
}
.seven .right .message{
    width:610px;
    height:120px;
}
.seven .right .message textarea{
    height:90px;
    width:609px;
    border:0px;
    background:#ededef;
}
.seven .right .button{
    width:610px;
    height:19px;
    text-align:center;
}
/* 第七层 */





/* 页底 */
footer{
    background:#32353e;
    text-align:center;
}
footer .footer1{
    padding-top:90px;
    padding-bottom: 70px;
}

footer .footer1 .lianxi{
    font-size:21px;
    color: #fff;
    font-family:"黑体"
}
footer .footer1 .footer1-text{
    font-family:"宋体";
    font-size:12px;
    color: #fff;
}
footer .footer1 .email{
    // width:518px;
    margin-top: 31px;
}
footer .footer1 .email input{
    border:0px;
    background:#fff;
    padding:15px;
    color: #aaaaaa;
    width:400px;
}
footer .footer1 .email button{
    padding:15px 25px;
    border:0px;
    color: #fff;
    background:#6f7178;
    margin-left: -5px;
}
footer .footer1 .email ul{
    margin-top: 37px;
}
footer .footer1 .email ul li{
    // float: left;
    display:inline;
    margin-right: 27px;
}
footer .footer2{
    background:#303038;
}
footer .footer2 p{
    color:#fff;
    margin:24px 100px;
}